/* reset */
*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    border: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

/* reset text */
a {
    color: inherit;
    text-decoration: none;
    background: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
}

/* variables */
:root{
    --background-color: #5B86E5;
}


/* style */

body{
    display: flex;
    justify-content: center;
    margin: 123px 140px 122px 140px;
    background-color: var(--background-color)
}

.wrapper-signin{
    width: 1920px;
    height: 1080px;
    display: flex;
}

input{
    border-bottom: 1px solid #9D9D9D;
}

.logo{
    border: 1px red solid;
    background-color: #ABC1F2;
    display: flex;
    flex-direction: column;
}

.signin{
    border: 1px blue solid;
    background-color: white;
    padding: 250px;
    width: 1325px;
    gap: 112px;
}

button{
    background-color: var(--background-color);
    color: white;
    border-radius: 8px;
    height: 60px;
}

.wrapper-input{
    border: 1px solid purple;
    width: 575px;
    display: flex;
    flex-direction: column;
    gap: 29px;
    padding: 100px;
}

#signup{
    color: var(--background-color);
}