@import url(../../style/global.css);

/* style */
body{
    /* border: 1px black solid; */
    display: flex;
    justify-content: center;
    margin: 123px 140px 122px 140px;
    background-color: var(--background-color);
}

.wrapper-signup{
    width: 1920px;
    height: 1080px;
    display: flex;
    background-color: #ABC1F2;
}

input{
    border-bottom: 1px solid #9D9D9D;
    opacity: 0.4;
    font-size: 25px;
    padding-bottom: 15px;
}

.logo{
    /* border: 1px red solid; */
    display: flex;
    flex-direction: column;
    width: 950px;
    color: white;
    justify-content:space-around;
    align-items: center;
}

.signup{
    /* border: 1px blue solid; */
    background-color: white;
    padding: 300px;
    width: 100%;
    border-radius: 50px 0px 0px 50px ;
}

button{
    background-color: var(--background-color);
    color: white;
    border-radius: 8px;
    height: 60px;
    font-size: medium;
}

.wrapper-input{
    /* border: 1px solid purple; */
    width: 575px;
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 20px;
}

#button-signup{
    color: var(--background-color);
}

#wrapper-signup{
    display: flex;
    justify-content: center;
    font-size: 25px;
}

#name-text{
    color: var(--background-color);
    font-weight: bold;
}

.text-logo{
    margin: 100px;
}

#sup-google, #sup-apple{
    color: black;
    background-color: transparent;
    border: 1px solid var(--background-color);
    border-radius: 8px;
    font-size: medium;
    padding: 0px 40px 0px 40px; ;
    margin: 30px 90px 30px 0px;
}

#or{
    color: gray;
    display: flex;
    padding-left: 250px;
}