@import url(../../style/global.css);

/* style */
body{
    /* border: 1px black solid; */
    display: flex;
    justify-content: center;
    margin: 123px 140px 122px 140px;
    background-color: var(--background-color)   
}

.wrapper-signin{
    width: 1920px;
    height: 1080px;
    display: flex;
    background-color: #ABC1F2;
}

input{
    border-bottom: 1px solid #9D9D9D;
}

.logo{
    /* border: 1px red solid; */
    display: flex;
    flex-direction: column;
    width: 950px;
    color: white;
    justify-content:space-around;
    align-items: center;
}

.signin{
    /* border: 1px blue solid; */
    background-color: white;
    padding: 375px;
    width: 100%;
    border-radius: 50px 0px 0px 50px ;
}

button{
    background-color: var(--background-color);
    color: white;
    border-radius: 8px;
    height: 60px;
}

.wrapper-input{
    /* border: 1px solid purple; */
    width: 575px;
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 100px;
}

#signup{
    color: var(--background-color);
}

#wrapper-signup{
    display: flex;
    justify-content: center;
}

#name-text{
    color: var(--background-color);
    font-weight: bold;
}

.text-logo{
    margin: 100px;

}